---
layout: default
title: Home
---

<section class="archive">
{% assign total = site.posts | size %}
{% for post in site.posts %}
{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
{% capture newer_year %}{{ post.next.date | date: '%Y' }}{% endcapture %}
{% if forloop.first or year != newer_year %}
  <div class="year-badge">{{ year }}</div>
{% endif %}
{% assign num = total | minus: forloop.index0 %}
{% capture padded %}{{ num | prepend: '000' }}{% endcapture %}
  <a class="post-item" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
    <span class="post-no">&#8470; {{ padded | slice: -3, 3 }}</span>
    <span class="post-title">{{ post.title }}</span>
    <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%b %-d" }}</time>
  </a>
{% endfor %}
</section>
