<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container azul">
      <header class="site-header">
        <a href="{{ site.url }}" id="logo" title="{{ site.title }}"
           style="background-image: url({{site.baseurl}}/public/images/logo.jpeg);"></a>
        <div class="header-text">
          <h1 class="site-title">{{ site.title }}</h1>
          <p class="site-tagline">{{ site.description }}</p>
        </div>
        {% include navigation.html %}
      </header>

      {{ content }}
    </div>

    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{site.baseurl}}/public/js/jquery.fitvids.js"></script>
    <script>
      $(document).ready(function(){
        $("article").fitVids();
      });
    </script>
    {% include google_analytics.html %}
  </body>
</html>
