<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="shell">
      <header class="site-header">
        <div class="site-brand">
          <a href="{{ site.baseurl }}/" class="site-logo" title="{{ site.title }}"
             style="background-image: url({{site.baseurl}}/public/images/logo.jpeg);"></a>
          <div>
            {% if page.title == "Home" %}
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            {% else %}
            <p class="site-name"><a href="{{ site.baseurl }}/">{{ site.title }}</a></p>
            {% endif %}
            <p class="site-sub">{{ site.description | upcase }}</p>
          </div>
        </div>
        {% include navigation.html %}
      </header>

      {{ content }}
    </div>
    {% include google_analytics.html %}
  </body>
</html>
