---
layout: default
---

<article class="post-single">
  <header class="post-header">
    <a href="{{ site.baseurl }}/" class="back-link">&larr; Back to Home</a>
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <time class="published" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}</time>
    </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <footer class="post-footer">
    <a href="{{ site.baseurl }}/" class="back-link">&larr; Back to all posts</a>
  </footer>

  {% include disqus_comment.html %}
</article>
